.Listname-container{
  animation: Fadeup 1s;
  -webkit-animation: Fadeup 1s;
  background-color: #FF9F9F;
  white-space: nowrap; 
  width: 231px;
  margin: 30px;
  font-size: 43px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color:white;
  
}
@media only screen and (max-width: 600px){
  .Listname-container{
    width: 125px;
    font-size:18px;
    margin: 5px;
    
  }
}