.Resultpage-Container{
    display: flex;
    position: fixed;
    background-color: rgba(255, 126, 126, 0.322);
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    z-Index: 100;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
}
.Resultpage-page{
    display: flex;
    position: fixed;
    padding: 20px;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    position:absolute;
    width: 700px;
    overflow: hidden;
    max-height: 80%;
    font-size: 30px;
    animation: Fadedown 0.5s;
    overflow: hidden;

}
.Resultpage-header{
    background-color: #FF6666;
    padding: 30px;
    color: white;
    border-radius: 30px;
}
.Resultpage-line{
    background-color: #FF6666;
    width: 80%;
    height: 5px;
    border-radius: 2px;
}
.RE-Button-random{
    background-color: #FFC93D;
    border-radius: 30px;
    width: 301px;
    height: 66px;
    border: none;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.RE-Button-random:hover{
    background-color: #fdb500;
}
.RE-Button-random:active{
    background-color: #FFC93D;
}
.Oldname{
    color:#FF6666;
    font-weight: bold;
    width: 150px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Newname{
    font-style: italic;
    text-decoration: underline;
    width: 150px;
    height: 40px;
    text-align: end;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 600px){
    .Resultpage-header{
        background-color: #FF6666;
        padding: 20px;
        font-size: larger;
    }
    .Resultpage-page{
        width: 300px;
        font-size:large;
    }
    .RE-Button-random{
        width: 120px;
        height: 35px;
        font-size:large;
        margin-left: 10px;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Oldname{
        width: 50px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Newname{
        width: 50px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}