.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-showData-Contain{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: baseline;
}
.App-footer-Contain{
  display: flex;
  position: fixed;
  justify-content: center;
  padding: 30px;
  background-color: #FF6666;
  bottom: 0;
  height: 140px;
  width: 100vw;
  animation: Fadedown 1s;
  -webkit-animation: Fadedown 1s;
}
@-webkit-keyframes Fadedown{
  from{
      opacity: 0;
      transform: translate(0,25%);
  }
  to{
      opacity: 1;
      transform: none;
  }
}
@keyframes Fadedown{
  from{
      opacity: 0;
      transform: translate(0,25%);
  }
  to{
      opacity: 1;
      transform: none;
  }
}

@media only screen and (max-width: 600px) {

  .App-footer-Contain{
    height:75px;
    padding: 5px;
  }
}

